In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
loandata = pd.read_csv('loan.csv', encoding = "gbk")
loandata

          用户ID  好坏客户  年龄          负债率      月收入  家属数量
0            1     1  45     0.802982   9120.0   2.0
1            2     0  40     0.121876   2600.0   1.0
2            3     0  38     0.085113   3042.0   0.0
3            4     0  30     0.036050   3300.0   0.0
4            5     0  49     0.024926  63588.0   0.0
...        ...   ...  ..          ...      ...   ...
149995  149996     0  74     0.225131   2100.0   0.0
149996  149997     0  44     0.716562   5584.0   2.0
149997  149998     0  58  3870.000000      NaN   0.0
149998  149999     0  30     0.000000   5716.0   0.0
149999  150000     0  64     0.249908   8158.0   0.0

[150000 rows x 6 columns]

In [3]:
loandata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   用户ID    150000 non-null  int64
 1   好坏客户    150000 non-null  int64
 2   年龄      150000 non-null  int64
 3   负债率     150000 non-null  float64
 4   月收入     120269 non-null  float64
 5   家属数量    146076 non-null  float64
dtypes: float64(3), int64(3)
memory usage: 6.9 MB